.form {
    max-width      : 375px;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    margin         : 0 auto;
    z-index        : 2;
    position       : relative
}

.input {
    border-radius: var(--main-border-radius);
    margin-top   : 1rem;

}

.button {
    border          : none;
    border-radius   : var(--main-border-radius);
    padding         : 0.65rem;
    background-image: var(--gradient);
    color           : var(--main-text-color);
    font-weight     : 700;
    box-shadow      : 0 0 30px -5px rgba(0, 0, 0, 0.25);
    cursor          : pointer;
    line-height     : initial;
    width           : 100%;
    height          : 38px;
}

.button:hover {
    color            : var(--main-text-color);
    -webkit-transform: scale(0.95);
    -ms-transform    : scale(0.95);
    transform        : scale(0.95);
}


.suggestionLists {
    z-index        : -1;
    position       : relative;
    margin         : 0;
    padding        : 0;
    list-style-type: none;
    width          : 100%;
    border         : 1px solid rgba(0, 0, 0, 0.2);
    border-radius  : 8px;
    box-shadow     : 0 5px 10px rgba(0, 0, 0, 0.2);
}

.suggestionItems {
    padding: 6px;
}

.suggestionItems:hover {
    background-color:rgba(0, 0, 0, 0.2)
}