.card {
    border-radius: var(--main-border-radius);
}

.cardInner {
    z-index: 1;
    height : 330px;
    width  : 100%;
}

.gradient {
    position        : absolute;
    width           : 100%;
    height          : 100%;
    top             : 0;
    left            : 0;
    background-image: var(--gradient-black);
    background-size : cover;
    border-radius   : var(--main-border-radius);
    opacity         : 0.8;
}

.img {
    position           : absolute;
    width              : 100%;
    height             : 100%;
    top                : 0;
    left               : 0;
    background-image   : url('./img/forecast.png');
    background-size    : 300px;
    background-position: center;
    border-radius      : var(--main-border-radius);
}

.weekday {
    width: 100px;
}